html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

body 
  font: 0.8em/1.2em "Lucida Grande", Calibri, Arial
  background-color: #444
  color: #333

#container
  width: 850px
  margin: 0 auto
  background-color: #fff

  #main, #footer
    padding: 0 50px

  #main
    min-height: 400px
    a
      background-color: #f27405
      color: white
      padding: 3px 5px
    a.minor
      background-color: white
      color: #f27405
      text-decoration: none
      padding: 0 0
      &:hover
        text-decoration: underline

  #footer
    padding: 20px 0 15px
    margin-top: 30px
    text-align: center
    background-color: #2da66d
    color: white
    .credential
      margin: 0 20px
      display: inline
    a
      color: white
      font-weight: bold

h1, h2
  font-family: Helvetica,Arial,sans-serif
  line-height: 2
  font-weight: bold
h1
  line-height: 3
  text-align: center
  font-size: 2.5em
  a
    text-decoration: none
    color: #000
h2
  font-size: 1.5em
  margin: 20px 0 0
p
  margin: 3px 0
li
  margin-left: 20px
  margin-bottom: 10px

blockquote
  margin-bottom: 30px
  color: #777
  img
    float: left
    margin-right: 5px
    width: 35%
  p
    margin: 0 0 10px
    text-align: justify

.when
  color: #aaa

.chart img
  margin: 20px 0
