html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  font: 0.8em/1 "Lucida Grande", Calibri, Arial;
  background-color: #444;
  color: #3d3d3d; }

#container, #footer {
  width: 850px;
  margin: 0 auto;
  padding: 10px 50px; }

#container {
  background-color: #fff;
  min-height: 400px; }

#footer {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #2da66d;
  color: white; }
  #footer .credential {
    margin: 0 20px;
    display: inline; }
  #footer a {
    background-color: #2da66d;
    font-weight: bold; }

p, ol, ul, td, input {
  font-family: "Lucida Grande", Calibri, Arial; }

h1, h2, h3 {
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.75;
  font-weight: bold; }

h1 {
  font-size: 2.5em;
  text-align: center; }
  h1 a {
    background-color: white;
    color: #000; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

td {
  padding: 3px 5px; }

p {
  margin: 3px 0; }

.none {
  display: none; }

a {
  background-color: #f27405;
  color: white;
  padding: 3px 5px;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
