- colors = [ [:request, "FF0000"], [:request_completed, "E77471"], [:offer, "347C17"], [:offer_completed, "4CC552"] ]
- GoogleChart::BarChart.new("#{wh[0]}x#{wh[1]}", '', :vertical, false) do |chart|
  - colors.each do |kind, color|
    - label = t "kinds.#{kind}"
    - processed_data = data[:data][kind.to_s].map{ |count| count.to_f }
    - chart.data(label, processed_data, color)
  - chart.data_encoding = :text
  - chart.max_value range.max

  -# with bar_width => "a" the vertical axis scale is not displayed correctly http://minify.me/?6tph6r
  - chart.width_spacing_options(:bar_width => "15", :bar_spacing => "5", :group_spacing => 40)

  - chart.axis :x, :labels => data[:labels].map{|date| I18n.localize(date, :format => :short) }
  - chart.axis :y, :range => range

  = chart_image chart.to_url(:chdlp => "t"), wh
