
blockquote {
  color: #777; }
  blockquote img {
    float: left;
    width: 35%; }
  blockquote p {
    margin: 0 0 10px; }

#offers, #requests {
  width: 48%; }

#offers {
  float: left; }

#requests {
  float: right; }

#dashboard {
  zoom: 1; }
  #dashboard:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #dashboard table {
    width: 100%; }
  #dashboard thead tr, #dashboard tr.head {
    background-color: #ddd; }
    #dashboard thead tr td:hover,     #dashboard tr.head td:hover {
      background-color: #ddd; }
  #dashboard thead .continue {
    display: none; }
  #dashboard tr.head .continue {
    display: inline; }
  #dashboard td:hover {
    background-color: #f2c230; }
    #dashboard td:hover .subject {
      font-weight: bold; }
    #dashboard td:hover .meta {
      visibility: visible; }
  #dashboard .meta {
    zoom: 1;
    visibility: hidden; }
    #dashboard .meta:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #dashboard .meta .action {
      float: left; }
    #dashboard .meta .sent_on {
      float: right; }
