@import _mixins.sass
#offers, #requests
  width: 45%
#offers
  float: left
#requests
  float: right
#dashboard
  +clearfix
  td:hover
    background-color: #f2c230
  .meta
    +clearfix
    .action
      float: left
    .sent_on
      float: right

