- require 'google_chart'

%h2= (t 'stats.global last x months', :months => @per_month[:labels].size)
= render :partial => 'by_kind_each_month', :locals => { :data => @per_month, :range => chart_range(@per_month[:data].values), :wh => [700, 300] }

-# %h3= t 'stats.by category'
-# = render :partial => 'by_category', :locals => { :data => @per_kind, :wh => [500, 500]}

-# %h3= (t 'stats.kinds by category')
-# - values = @kinds_per_month.map{ |category, stat| stat[:data].values }
-# - @kinds_per_month.each do |category, category_per_month|
  -# %h4= (category.name rescue 'fara categorie').capitalize
  -# = render :partial => 'by_kind_each_month', :locals => { :data => category_per_month, :range => chart_range(values), :wh => [700, 200] }
